* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
section{
    width: 230px;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    box-shadow: 8px 8px 20px #DDDBF1;
    border: solid 2px black;

    background: grey;

}
#titulo {
    font-size: 2em;
    margin-bottom: 5px;
    text-shadow: 5px 5px 5px black;
    color: #FFC857;
}

.campo h1{
    text-align: left;
    margin-top: 8px;
    text-shadow: 3px 3px 3px black;

    color: #FFC857;
}

input{
    height: 25px;
    width: 220px;
    border-radius: 8px;
    font:normal 21pt Sans-serif;
    padding: 3px 0 3px 8px;
    border: solid 2px black;

    color: black;
}
#calculatebutton{
    border-radius: 15px;
    height: 40px;
    width: 175px;
    font-family: Times;
    margin: 8px 0 8px 0;

    background: #FFC857;

}

#resultado {
    font-size: 22px;
    font-family: Blippo, fantasy;
    padding: 5px 5px 5px 8px;
    text-align: left;
    text-shadow: 3px 3px 3px black;
    border: solid 2px black;

    background: #73648A;
    color: #FFC857;
}